/.idea/.generators
/.idea/.name
/.idea/.rakeTasks
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/paymill_on_rails.iml
/.idea/runConfigurations/Development__paymill_on_rails.xml
/.idea/runConfigurations/Production__paymill_on_rails.xml
/.idea/runConfigurations/spec__paymill_on_rails.xml
/.idea/runConfigurations/test__paymill_on_rails.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
